 html body {
     margin: 0px;
 }

div .wrapped-all {
    max-width: 1918px;
    box-sizing: border-box;
}

.wrapped-all .info {
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    background-color: rgb(33, 48, 70);
}

.wrapped-all .info .text {
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    line-height: 0.3;
    color:rgb(0, 233, 233);
    padding-top:125px;
}

/* phnone */

.wrapped-all .wrapper-phone {
    width: 100%;
    height: 700px;
    background-color: rgb(245, 246, 250);
}

.wrapped-all .wrapper-phone .phone-info {
    max-width: 1170px;
    height: 700px;
    box-sizing: border-box;
    background-color: rgb(245, 246, 250);
    margin: 0px auto;
    display: flex;
    justify-content:space-around;
    padding-top: 95px;
}

.wrapped-all .wrapper-phone .phone {
    width: 400px;
    height: 700px;
    box-sizing: border-box;
    position: relative;   
}

.wrapped-all .wrapper-phone .phone .phone_one {
    width: 239px;
    height: 505px;
    box-sizing: border-box;
    border: 9px solid black;
    border-radius: 30px;
    background-color: rgb(0,255,244);
    box-shadow: 1px 0px 30px rgb(0,255,244) ;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.phone .phone_one .speaker_ph {
    width: 125px;
    height: 18px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
   justify-content: center;
}

.phone .phone_one .speaker_ph .speaker {
    width: 30px;
    border-radius: 5px;
    border: 2px solid gray;
    box-sizing: border-box;
}

.phone .phone_one .speaker_ph .camera {
    border: 3px solid gray; 
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 5px;
}

.wrapped-all .wrapper-phone .phone .phone_two {
    width: 239px;
    height:388px;
    box-sizing: border-box;
    border: 9px solid black;
    border-radius: 30px;
    background-color: rgb(0,255,244);
    box-shadow:  1px 0px 30px 0px rgb(0,255,244) ;
    position: absolute;
    top: 80px;
    left: 123px;
    display: flex;
    justify-content: center;
}

.phone .phone_two .speaker_ph {
    width: 125px;
    height: 18px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
   justify-content: center;
}

.phone .phone_two .speaker_ph .speaker {
    width: 30px;
    border-radius: 5px;
    border: 2px solid gray;
    box-sizing: border-box;
}

.phone .phone_two .speaker_ph .camera {
    border: 3px solid gray; 
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 5px;
}

.wrapped-all .wrapper-phone .phone-info .new-available {
    width: 500px;
    height: 700px;
    box-sizing: border-box;
    padding-top: 100px;
}

.wrapped-all .wrapper-phone .phone-info .new-available #header-available {
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapped-all .wrapper-phone .phone-info .new-available p {
    font-size: 12px;
}

.wrapped-all .wrapper-phone .phone-info .new-available img{
    margin-top: 70px;
    width: 140px;
    height: 40px;
    border-radius: 5px;
}

#appStore {
    margin-left: 62px;
    border-radius: 5px;
}

/* block information */

div.wrapped-all .wrapper-info-blocks {
    width: 100%;
    box-sizing: border-box;
}

div.wrapped-all .wrapper-info-blocks .get-app {
    width: 370px;
    height: 73px;
    box-sizing: border-box;
    background-color:rgb(0,255,244, 0.8);
    box-shadow: 1px 0px 30px 0px rgb(0,255,244);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0px auto;
    margin-top: -35px
}

div.wrapped-all .wrapper-info-blocks .colum-info {  
    /* width: 1170px; */
    width: 100%;
    height: 677px;
    box-sizing: border-box;
    padding-top: 108px;
    margin: 0px auto;
}

div.wrapped-all .wrapper-info-blocks .colum-info .all-blocks {
    width: 100%;
    display: flex;
    justify-content:space-around;
}

div.wrapped-all .wrapper-info-blocks .colum-info a:link ,:visited {
    text-decoration: none;
    color: rgb(160, 153, 187);
}

div.wrapped-all .wrapper-info-blocks .colum-info , .compny-info , .dev-info, .marketing-info, .community-info, .info-header {
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 32px;
}

div.wrapped-all .wrapper-info-blocks .colum-info p {
    font-size: 7px;
}

#upCase {
    text-transform: uppercase;
}

div.wrapped-all .colum-info .get-touch {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 140px; 
} 

div.wrapped-all .colum-info .get-touch :first-child {
    font-size: 14px;
    padding-bottom: 38px;
    margin: 0px;
    color: black;
}

div.wrapped-all .colum-info .get-touch p {
    font-size: 8px;
    color: rgb(160, 153, 187);
}

/* form */

input[type=submit] {
    width: 170px;
    height: 50px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: rgb(0,255,244, 0.8); 
    box-shadow: 1px 0px 30px 0px rgb(0,255,244) ;;   
    border: none;
    text-align: center;
    box-sizing: border-box;
    margin: 74px 0px 0px 30px;
    position: relative;
    top: 18px;
}

 input[type=text]{
    width: 568px;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(128, 128, 128, 0.1);
    border: none;
}

/* social-icons */

div.wrapped-all .wrapper-socialIcons {
    width: 100%;
    height: 100px;
    background-color: rgb(33, 48, 70);
    box-sizing: border-box;
}

div.wrapped-all .wrapper-socialIcons .socialIcons {
    /* width: 1170px; */
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 35px;
}

div.wrapped-all .wrapper-socialIcons .socialIcons .test1 {
    width: 300px;
    box-sizing: border-box;
    float: left;    
    font-size: 9px;
    color:rgb(0, 233, 233);
    padding-left: 24px;
}

div.wrapped-all .wrapper-socialIcons .socialIcons .test1::after, .test2::after {
    content: "";
    display: table;
    clear: both;
}

div.wrapped-all .wrapper-socialIcons .socialIcons .test2 {
    width: 300px;
    box-sizing: border-box;
    float: right;
}

div.wrapped-all .wrapper-socialIcons .socialIcons img {
    width: 24px;
    height: 24px;
    padding-left: 27px; 
}

/* responsive */

@media only screen and (max-width: 900px) {
    .wrapped-all .info .text {
        width: 100%;
    }
    .wrapped-all .wrapper-phone {
        height: 1250px;
        flex-wrap: wrap;
    }
    .wrapped-all .wrapper-phone .phone-info {
        flex-wrap: wrap;
    }
    .wrapped-all .wrapper-phone .phone-info .new-available {
        padding-top: unset;
       text-align: center;
    }
    input[type=text] {
        width: 350px;
    }
}

@media only screen and (max-width: 600px) {
    div.wrapped-all .wrapper-socialIcons .socialIcons {
        text-align: center;
    }
    div.wrapped-all .wrapper-socialIcons .socialIcons .test1 {
        float: unset;
        margin: 0 auto;
    }
    div.wrapped-all .wrapper-socialIcons .socialIcons .test2 {
        float: unset;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 525px) {
    .wrapped-all .info .text {
        font-size: 0.9em;
    }
    input[type=text] {
        width: 350px;
    }
}


