@media screen and (max-width: 800px) {
    .my-information .arrow {
        display: none;
    }
}
@media screen and (max-width: 679px) {
    .wraper-menu .menu {
        display: none;
        position: relative;
    }
    .wraper-menu .logo {
        margin: 0 auto;
    }
    .burger-btn, .burger-menu {
        display: block;
    }
    .burger-btn {
        width: 50px;
        height: 45px;
        box-sizing: border-box;
        position: absolute;
        float: left;
    }
    .burger-btn div {
        width: 40px;
        border: 2px solid black;
        margin: 8px 0px 0px 2px;
        border-radius: 10px;
        transition-duration:0.5s ;
    }
    .burger-menu {
        position: absolute;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        top: 56px;
        left: -100%;
        background-color: rgb(112, 128, 144);
        transition-duration: 0.5s;
    }
    .burger-menu li {
        list-style-type: none;
        font-size: 2rem;
        line-height: 2;
    }
    .wraper-menu .burger-menu ul li a:link {
        text-decoration: none;
        color: white;
    }
    .wraper-menu .burger-menu ul li a:visited {
        color: white;
    }
    .open {
        left: 0;
        transition-duration: 0.5s;
    }
    .open-burger :nth-child(1) {
        transform: rotate(45deg);
        transition-duration:0.5s ;
        transform-origin: 0px 4px;
    }
    .open-burger :nth-child(2) {
        opacity: 0;
    }
    .open-burger :nth-child(3) {
        transform: rotate(-45deg);
        transition-duration:0.5s ;
        transform-origin: 12px 4px;
    }
}