@media only screen and (max-width:834px) {

    .burger input {
        visibility: visible;
        width: 35px;
        height: 35px;
        position: relative;
        z-index: 1;
        opacity: 0;
        display: block;
    }

    .burger span {
        width: 30px;
        height: 4px;
        background-color:black;
        display: block;
        margin-top: 3px;
        position: relative;
        z-index: 2;
        top:-30px;
        left: 7px;
        border-radius: 5px;
    }

    #menu {
        width: 150px;
        height: 200px;
        visibility: visible;
        position: absolute;
        left:50px ;
        display: block;
        z-index: 2;
        background-color: blue;
        top: 15px;
        left:40px;
        transform: translate(-250%,0);
        border-radius: 20px;
    }

    .burger input:checked ~ #menu {
        transform: none;
    }

    #menu li {
        display: block;
    }
    
    .burger #menu a:link {
        text-decoration: none;
        color: white;
    }
    .burger #menu a:visited {
        color: white;
    }
    .burger #menu a:hover {
        color: red;
    }

    .main-menu .big-menu p {
       display: none;
    }

    .main-menu .big-menu-custom {
       display: none;
    }

    .wrapped-photo .girls  {
       /* visibility: hidden; */
       display: none;
    }

    .wrapped-photo .kite .responsive {
        /* visibility: hidden;
         */
         display: none;
    }

    .wrapped-photo .kite .screen {
        /* visibility: hidden; */
        display: none;
    }

    .banners {
        /* visibility: hidden; */
        display: none;
    }

    .banners-info {
        /* visibility: hidden; */
        display: none;
    }

    .wrapped-footer .company-info .wrapped-info  {
        /* visibility: hidden; */
        display: none;
    }

    .wrapped-footer .wrapped-footer-contacts {
        margin: -400px 0px 0px 0px;
    }

    .wrapped-footer .wrapped-footer-contacts .shipping {
        width: 450px;   
    }

    .wrapped-footer .wrapped-footer-contacts .about-us {
        width: 450px;
    }

    .wrapped-footer .wrapped-footer-contacts .news {
        width: 500px;        
    }

    .wrapped-i-phones {
        flex-wrap: wrap; 
    }

    .wrapped-i-phones .wrapped-phone {
        margin-top: 80px;
    }
}