@media only screen and (max-width:1200px) /*1200*/ {
    .wrapped-information .little-menu {
        width: 60%;
        height: 200px;
    }

    .wrapped-ultima-theme {
        display: block;
        height: 100px;
    }

    .wrapped-ultima-theme .ultima-theme p {
        font-size: 5rem;
    }

    .wrapped-ultima-theme .search {
        align-items: none;
    }
    
    .wrapped-ultima-theme .search input[type="text"] {  
        top: -280px;
        left: 100%;
        right: 100%;
    }

    .wrapped-ultima-theme .search i {
        left: 270px;
        right: 0px;
        bottom: 0px;
       top: -278px; 
    }

    .wrapped-big-red-circle .color .text .test {
        width: 150px;
    }

    .wrapped-big-red-circle .layout .text .test {
        width: 150px;
    }

    .wrapped-big-red-circle .mega-menu .text .test {
        width: 150px;
    }

    .wrapped-ultima-theme .wrapped-account  {
        top: -300px;
        bottom:0px;
        left:0px;
        right: 0px;
    }

    .banners-info .banner3 .border-dashed {
        right: 0px;
        left: -10px;
    }
}