@media only screen and (max-width:1036px) {
    .wrapped-footer .wrapped-footer-contacts .additional-info   {
       visibility: hidden;
    }

    .wrapped-footer .wrapped-footer-contacts .news {
        width: 40%;
    }

    .wrapped-footer .wrapped-footer-contacts .about-us {
        width: 40%;
    }

    .wrapped-footer .wrapped-footer-contacts .shipping {
        width: 40%;
    }
}