@media only screen and (max-width:983px) { /*983*/
    .wrapped-ultima-theme .search input[type="text"] {
        left: 70%;
        right: 70%;
    }

    .main-menu .big-menu li  {
        font-size: 0.9rem;
    }

    .wrapped-ultima-theme .search i {
        left: 180px;
    }

    .main-menu .big-menu-custom li  {
        padding-left: unset;
        padding-left: 10px;
    }

    .main-menu .big-menu-custom {
        font-size: 0.9rem;
    }

    .main-menu .big-menu-custom .triangle {
        margin: 24px 0px 0px 2px;
    }

    .new {
        left: 186px;
    }

    .wrapped-photo .kite .responsive {
        width: 180px;
        height: 30px;
    }

    .wrapped-photo .kite .responsive p {
        font-size: 1.5rem;
        width: 180px;
        height: 30px;
    }

    .wrapped-photo .kite .screen {
        margin: -10px 0px 0px 50px;
        width: 400px;
    }

    .wrapped-photo .kite .screen p {
        font-size: 1rem;
        width: 400px;
    }

    .wrapped-photo .girls .model1 {
        height: 100px;
    }

    .wrapped-photo .girls .model2 {
        height: 100px;
    }

    .wrapped-photo .girls .model3 {
        height: 100px;
    }

    .wrapped-big-red-circle .color .text .test {
        width: 150px;
    }

    .wrapped-big-red-circle .layout .text .test {
        width: 150px;
    }

    .wrapped-big-red-circle .mega-menu .text .test {
        width: 150px;
    }

    .models img {
        width: 80px;
        height: 100px;
    }

    .models .variants {
        width: 100px;
        margin-right: 20px;
    }

    .models .wrapped-variants {
        width: 100px;
    }

    .models .wrapped-variants .variants p {
        line-height: 1;
    }

    .models .wrapped-variants .variants .rating {
        display: block;
    }

    .models .wrapped-variants .variants .review {
        line-height: 2;
    }

    .models .wrapped-variants .variants .money {
        padding-top: 5px;
    }

    .models .product {
        width: 110px;
    }

    .models .wrapped-product .product p {
        line-height: 1.9;
    }

    .models .wrapped-product .product .rating {
        display: block;
    }

    .models .example {
        width: 110px;
    }

    .models .wrapped-example .example p {
        line-height: 1.9;
    }

    .models .wrapped-example .example .rating {
        display: block;
    }

    .models .hot-top {
        width: 110px;
    }

    .models .wrapped-hot-top .hot-top p {
        line-height: 1.9;
    }

    .models .wrapped-hot-top .hot-top .rating {
        display: block;
    }

    .models .sample-top {
        width: 110px;
    }

    .models .wrapped-sample-top .sample-top p {
        line-height: 1;
    }

    .models .wrapped-sample-top .sample-top .rating {
        display: block;
    }

    .models .wrapped-sample-top .sample-top .review {
        line-height: 2;
    }

    .models .sample-product {
        width: 110px;
    }

    .models .wrapped-sample-product .sample-product p {
        line-height: 1;
    }

    .models .wrapped-sample-product .sample-product .rating {
        display: block;
    }

    .models .wrapped-sample-product .sample-product .review {
        line-height: 2;
    }

    .shoes-bags {
        display: block;
        margin: 0px 0px 0px 200px; /*150*/
    }

    .photo-products .shoes-products {
        margin: 20px 0px 0px 0px;  /*20 0 0 0 */
    }

    .photo-products .shoes-products .shoes1  {
        width: 170px;
    }

    .photo-products .shoes-products .shoes1 .cart {
        margin-left: 47px;
    }

    .shoes-bags .bags {
     /*  position: relative;
       top: 300px;  */
       margin: 300px 0px 0px 0px;
    }

    .photo-products .shoes-products {
       position: relative;
      /* top: -70px;  */
      left: 180px;
    }

    .photo-products .bags-products {
      /*  margin: 40px 0px 0px 170px; */
      margin: 100px 0px 0px 200px;
        
    }

    .photo-products .bags-products .bags1 {
        width: 170px;
    }

    .photo-products .bags-products .bags1 .cart {
        margin-left: 47px;
    }

    .photo-products {
        display: block;
    }

    .women-brfore-phone .sale-off .off-60 p {
        font-size: 3rem;
        top: 0px;
    }

    .women-brfore-phone .sale-off .sell-20 .sale p {
        font-size: 1.7rem;
        top: 100px;
    }

    .women-brfore-phone .sale-off .sell-20 .sale2 p {
        font-size: 1.7rem;
        top: 100px;
    }

    .wrapped-i-phones img {
        width: 100px;
        height: 90px;
        display: flex;
        justify-content: center;
    }

    .wrapped-i-phones .wrapped-phone {
        width: 100px;
    }

    .wrapped-i-phones .priceing {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .priceing p {
        line-height: 1;
    }

    .wrapped-i-phones .wrapped-phone .priceing .rating {
        display: block;
    }

    .wrapped-i-phones .wrapped-phone .priceing .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .priceing .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-5px;
    }

    .wrapped-i-phones .wrapped-phone {
        width: 100px;
    }

    .wrapped-i-phones .modern {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .modern p {
        line-height: 1;
    }

    .wrapped-i-phones .wrapped-phone .modern .rating {
        display: block;
    }

    .wrapped-i-phones .wrapped-phone .modern .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .modern .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-5px;
    }

    .wrapped-i-phones .wrapped-phone {
        width: 100px;
    }

    .wrapped-i-phones .deep {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .deep p {
        line-height: 1;
    }

    .wrapped-i-phones .wrapped-phone .deep .rating {
        display: block;
    }

    .wrapped-i-phones .wrapped-phone .deep .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .deep .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-5px;
    }

    .wrapped-i-phones .new-phone {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .new-phone p {
        line-height: 1.9;
    }

    .wrapped-i-phones .wrapped-phone .new-phone .rating {
        display: block;
        font-size: 0.6rem;
    }

    .wrapped-i-phones .wrapped-phone .new-phone .rating p {
        line-height: 0.7;
    }

    .wrapped-i-phones .wrapped-phone .new-phone .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .new-phone .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-10px;
    }

    .wrapped-i-phones .simple-phone {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .simple-phone p {
        line-height: 1.9;
    }

    .wrapped-i-phones .wrapped-phone .simple-phone .rating {
        display: block;
        font-size: 0.6rem;
    }

    .wrapped-i-phones .wrapped-phone .simple-phone .rating p {
        line-height: 0.7;
    }


    .wrapped-i-phones .wrapped-phone .simple-phone .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .simple-phone .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-10px;
    }

    .wrapped-i-phones .grouped {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .grouped p {
        line-height: 1.9;
    }

    .wrapped-i-phones .wrapped-phone .grouped .rating {
        display: block;
        font-size: 0.6rem;
    }

    .wrapped-i-phones .wrapped-phone .grouped .rating p {
        line-height: 0.7;
    }

    .wrapped-i-phones .wrapped-phone .grouped .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .grouped .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-10px;
    }

    .wrapped-logos img {
        width: 100px;
        height: 50px;
    }
}