@media only screen and (max-width:952px) {     /*952px mediu device*/
    .wrapped-information .phone-information {
        visibility: hidden;
    }

    .wrapped-information .little-menu {
        position: relative;
        left: -160px;
    }

    .wrapped-information .little-menu ul {
        display: block;
    }

    .wrapped-information .little-menu li {
        padding-top: 10px;
        font-size: 1rem;
    }

    .wrapped-information .little-menu .line {
        border: none;
    }

    .main-menu .big-menu {
        width: 50%;
    }

    .main-menu .big-menu .triangle {
        margin: 22px 0px 0px 2px;
    }
}