@media only screen and (max-width:925px) {
    .wrapped-photo {
        display: block;
    }

    .wrapped-photo .kite {
        width: 100%;
        height:300px;
        margin-top: -200px;
    }

    .wrapped-photo .kite .responsive {
       position: relative;
       top: 200px;
    }

    .wrapped-photo .kite .screen {
        position: relative;
        top: 205px;
    }

    .wrapped-photo .kite .wrapped-circle {
        /* padding-top: 200px; */
        display: none;
    }

    .wrapped-photo .girls {
        display: flex;
        margin-left: 60px;
    }

    .models {
        flex-wrap: wrap;
    }

}