@media only screen and (max-width:1190px) {    /*test*/
    .shoes-bags {
        display: block;
        margin: 0px 0px 0px 200px;
    }

    .photo-products .shoes-products {
        margin: 20px 0px 0px 0px;
    }

    .photo-products .shoes-products .shoes1  {
        width: 170px;
    }

    .photo-products .shoes-products .shoes1 .cart {
        margin-left: 47px;
    }

    .shoes-bags .bags {
       margin: 300px 0px 0px 0px;
    }

    .photo-products .shoes-products {
       position: relative;
       left: 180px;
    }

    .photo-products .bags-products {
        margin: 100px 0px 0px 200px;
    }

    .photo-products .bags-products .bags1 {
        width: 170px;
    }

    .photo-products .bags-products .bags1 .cart {
        margin-left: 47px;
    }

    .photo-products {
        display: block;
    }

    .models img {
        width: 80px;
        height: 100px;
    }

    .models .variants {
        width: 100px;
        margin-right: 20px;
    }

    .models .wrapped-variants {
        width: 100px;
    }

    .models .wrapped-variants .variants p {
        line-height: 1;
    }

    .models .wrapped-variants .variants .rating {
        display: block;
    }

    .models .wrapped-variants .variants .review {
        line-height: 2;
    }

    .models .wrapped-variants .variants .money {
        padding-top: 5px;
    }

    .models .product {
        width: 110px;
    }

    .models .wrapped-product .product p {
        line-height: 1.9;
    }

    .models .wrapped-product .product .rating {
        display: block;
    }

    .models .example {
        width: 110px;
    }

    .models .wrapped-example .example p {
        line-height: 1.9;
    }

    .models .wrapped-example .example .rating {
        display: block;
    }

    .models .hot-top {
        width: 110px;
    }

    .models .wrapped-hot-top .hot-top p {
        line-height: 1.9;
    }

    .models .wrapped-hot-top .hot-top .rating {
        display: block;
    }

    .models .sample-top {
        width: 110px;
    }

    .models .wrapped-sample-top .sample-top p {
        line-height: 1;
    }

    .models .wrapped-sample-top .sample-top .rating {
        display: block;
    }

    .models .wrapped-sample-top .sample-top .review {
        line-height: 2;
    }

    .models .sample-product {
        width: 110px;
    }

    .models .wrapped-sample-product .sample-product p {
        line-height: 1;
    }

    .models .wrapped-sample-product .sample-product .rating {
        display: block;
    }

    .models .wrapped-sample-product .sample-product .review {
        line-height: 2;
    }

    .wrapped-i-phones img {
        width: 100px;
        height: 90px;
        display: flex;
        justify-content: center;
    }

    .wrapped-i-phones .wrapped-phone {
        width: 100px;
    }

    .wrapped-i-phones .priceing {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .priceing p {
        line-height: 1;
    }

    .wrapped-i-phones .wrapped-phone .priceing .rating {
        display: block;
    }

    .wrapped-i-phones .wrapped-phone .priceing .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .priceing .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-5px;
    }

    .wrapped-i-phones .wrapped-phone {
        width: 100px;
    }

    .wrapped-i-phones .modern {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .modern p {
        line-height: 1;
    }

    .wrapped-i-phones .wrapped-phone .modern .rating {
        display: block;
    }

    .wrapped-i-phones .wrapped-phone .modern .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .modern .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-5px;
    }

    .wrapped-i-phones .wrapped-phone {
        width: 100px;
    }

    .wrapped-i-phones .deep {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .deep p {
        line-height: 1;
    }

    .wrapped-i-phones .wrapped-phone .deep .rating {
        display: block;
    }

    .wrapped-i-phones .wrapped-phone .deep .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .deep .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-5px;
    }

    .wrapped-i-phones .new-phone {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .new-phone p {
        line-height: 1.9;
    }

    .wrapped-i-phones .wrapped-phone .new-phone .rating {
        display: block;
        font-size: 0.6rem;
    }

    .wrapped-i-phones .wrapped-phone .new-phone .rating p {
        line-height: 0.7;
    }

    .wrapped-i-phones .wrapped-phone .new-phone .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .new-phone .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-10px;
    }

    .wrapped-i-phones .simple-phone {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .simple-phone p {
        line-height: 1.9;
    }

    .wrapped-i-phones .wrapped-phone .simple-phone .rating {
        display: block;
        font-size: 0.6rem;
    }

    .wrapped-i-phones .wrapped-phone .simple-phone .rating p {
        line-height: 0.7;
    }


    .wrapped-i-phones .wrapped-phone .simple-phone .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .wrapped-i-phones .wrapped-phone .simple-phone .blue-circle p {
        font-size: 0.6rem;
        position: relative;
        top:-10px;
    }

    .wrapped-i-phones .grouped {
        width: 100px;
    }

    .wrapped-i-phones .wrapped-phone .grouped p {
        line-height: 1.9;
    }

    .wrapped-i-phones .wrapped-phone .grouped .rating {
        display: block;
        font-size: 0.6rem;
    }

    .wrapped-i-phones .wrapped-phone .grouped .rating p {
        line-height: 0.7;
    }

    .wrapped-i-phones .wrapped-phone .grouped .blue-circle {
        width: 30px;
        height: 30px;
        left: -5px;
        top: -10px;
    }

    .main-menu .big-menu li  {
        font-size: 0.9rem;
    }

    .main-menu .big-menu-custom li  {
        padding-left: unset;
        padding-left: 10px;
    }

    .main-menu .big-menu-custom {
        font-size: 0.9rem;
    }

    .main-menu .big-menu-custom .triangle {
        margin: 24px 0px 0px 2px;
    }
}