@media only screen and (max-width:739px) {
    .wrapped-ultima-theme .ultima-theme p {
        font-size: 3rem;
        position: relative;
        top: -70px;
        z-index: 1;
    }

    .main-menu {
        position: relative;
        top: -180px;
    }

    .wrapped-photo {
        position: relative;
        top: -180px;
    }

    .wrapped-big-red-circle {
        display: block;
        position: relative;
      
    }

    .color {
        position: relative;
        top: -150px;
    }

    .layout {
        position: relative;
        top: -90px;
    }

    .mega-menu {
        position: relative;
        top: -30px;
    }

    .bags-products {
        position: absolute;
        left:-50px;
    }

    .shoes-bags {
        border: 1px solid red;
        visibility: hidden;
    }

    .photo-products {
        display: block;
        margin-left: -90px;
    }

    .wrapped-logos {
        flex-wrap: wrap;
    }

    .women-tablet {
        margin-top: 400px;
    }

    .wrapped-footer-contacts {
        flex-wrap: wrap;
    }

    .wrapped-pay-cart {
        margin-top: 400px;
        flex-wrap: wrap; 
    }
}