@media only screen and (max-width:896px) {
    .wrapped-information .little-menu {
        visibility: hidden;
    }

    .wrapped-information .language {
        visibility: hidden;
    }

    .wrapped-ultima-theme .wrapped-account {
        visibility: hidden;
    }

    .wrapped-ultima-theme {
        margin-top: -150px;
        padding-left:100px;
        margin-bottom: 30px;
    }

    .wrapped-ultima-theme .search {
        visibility: hidden;
    }

    .main-menu .big-menu li {
        font-size: 0.7rem;
        padding-top: 10px;
    }

    .main-menu .big-menu .triangle {
        visibility: hidden;
    }

    .main-menu .big-menu-custom ul {
        font-size: 0.7rem;
       padding-top: 15px;
    }

    .main-menu .big-menu-custom .triangle {
        visibility: hidden;
    }

    .new {
        visibility: hidden;
    }

    .main-menu {
        border: none;
        position: relative;
        top: -181px;
    }

    .wrapped-big-red-circle {
        display: flex;
        flex-wrap: wrap;
    }

    .wrapped-big-red-circle .layout {
        width: 100%;
    }

    .women-brfore-phone {
        display: block;
    }

    .women-brfore-phone .sale-off {
        width: 100%;
    }

    .banners-info .banner1 .banner-circle {
       width: 40px;
       height: 40px;
    }

    .banners-info .banner1 .banner-circle p {
        font-size: 1.5rem;
    }

    .banners-info .banner1 :nth-child(2) {
        font-size: 0.8rem;
        padding-top: 0px;
        margin-top: 0px;
    }

    .banners-info .banner2 .banner-circle {
        width: 40px;
        height: 40px;
    }

    .banners-info .banner2 .banner-circle p {
        font-size: 1.5rem;
    }

    .banners-info .banner2 :nth-child(2) {
        font-size: 0.8rem;
        padding-top: 0px;
    }

    .banners-info .banner3 .banner-circle {
        width: 40px;
        height: 40px;
    }


.banners-info .banner3 .banner-circle p {
    font-size: 1.5rem;
}

.banners-info .banner3 :nth-child(2) {
    font-size: 0.8rem;
    padding-top: 0px;
}

.little-bottom-menu {
    visibility: hidden;
}

.banners-info .banner3 .border-dashed i {
    left: 40px;
}

.wrapped-background {
height: 40%;
background: none;
}

.wrapped-footer .company-info .wrapped-info {
   display: block;
   padding-left: 40%;
   display: block;
}
.wrapped-footer .company-info .border-and-logos {
    visibility: hidden;
}

.wrapped-footer .wrapped-pay-cart  {
   background: none;
}

}