
/*wrapped photo*/

.wrapped-photo {
    width: 100%;
    height: 9.5%;  /*350 */
    box-sizing: border-box;
    display: inline-flex;
    margin-top: 20px;
}

.wrapped-photo .kite {
    width: 80%;
    height: 100%;       
    box-sizing: border-box;
    background: url(../img/photos/kite.jpg) no-repeat;
    background-size: 100% 100%; 
}

.wrapped-photo .kite .responsive {
    background-color: rgb(85, 84, 84,0.5);
    box-sizing: border-box;
    width:230px;
    height: 60px;
   margin: 200px 0px 0px 50px;  
}

.wrapped-photo .kite .responsive p {
    width: 230px;
    height: 60px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.wrapped-photo .kite .screen {
    background-color: rgb(85, 84, 84,0.5);
    box-sizing: border-box;
    width:480px;
    height: 30px;
    margin: -10px 0px 0px 50px;
}

.wrapped-photo .kite .screen p {
    width: 480px;
    height: 30px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.wrapped-photo .kite .wrapped-circle {
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    float: right;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapped-photo .kite .wrapped-circle .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255); 
}

.wrapped-photo .kite .wrapped-circle .circle-2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.wrapped-photo .girls {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 20px;
    display: block;
}

.wrapped-photo .girls .model1 {
    width: 100%;
    height: 111px;    
    box-sizing: border-box;
    background: url(../img/photos/model1.jpg) no-repeat;
    background-size: 100% 100%; 
}

.wrapped-photo .girls .model1 .buy {
    background-color:rgb(240, 230, 230,0.3);
    box-sizing: border-box;
    width:150px; 
    height: 30px;
    float: right;
    margin: 70px 20px 0px 0px;
}

.wrapped-photo .girls .model1 .buy p {
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    position: relative;
    top: -15px;
    left: 12px;   
}

.wrapped-photo .girls .model2 {
    width: 100%;
    height: 111px;
    box-sizing: border-box;
    background: url(../img/photos/model2.jpg) no-repeat;
    background-size: 100% 100%;  
}

.wrapped-photo .girls .model2 .see-demos {
    background-color:  rgb(85, 84, 84,0.3);
    box-sizing: border-box;
    width:150px;
    height: 30px;
    float: right;
    margin: 70px 20px 0px 0px;
}

.wrapped-photo .girls .model2 .see-demos p {
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    position: relative;
    top: -15px;
    left: 12px;   
}

.wrapped-photo .girls .model3 {
    width: 100%;
    height: 111px;
    box-sizing: border-box;
    background: url(../img/photos/model3.jpg) no-repeat;
    background-size: 100% 100%; 
}

.wrapped-photo .girls .model3 .sell {
    background-color: rgb(240, 230, 230,0.3);
    box-sizing: border-box;
    width:150px;
    height: 30px;
    float: right;
    margin: 70px 20px 0px 0px;
}

.wrapped-photo .girls .model3 .sell p {
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    position: relative;
    top: -15px;
    left: 12px;   
}

.wrapped-big-red-circle {
    width: 100%;
    height: 6.1%; 
    box-sizing: border-box;
    display: inline-flex;  
}

.wrapped-big-red-circle .color {
    width: 100%;
    height: 100%; 
    box-sizing: border-box; 
    display: inline-flex;
    align-items: center;
    margin-top: 35px;
    justify-content: center;
}

.wrapped-big-red-circle .color .broom {
    width: 50px;
    height: 50px;        
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    padding-left: 50px;
    margin-bottom: 70px;
    
}

.wrapped-big-red-circle .color .broom i {
    position: relative;
    top: 13px;
    left: -35px;
    right: 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-size:1.6rem;
}

.wrapped-big-red-circle .color .text {
    padding-left: 10px;
}

.wrapped-big-red-circle .color .text .test {
    width: 220px;       
}

.wrapped-big-red-circle .color .text :first-child {
    text-transform: uppercase;
    font-size: 0.6rem;
    color: rgb(128, 128, 128);
}

.wrapped-big-red-circle .color .text :nth-child(2) {
    font-size: 1.1rem;
    line-height: 0.2;
}

.wrapped-big-red-circle .color .text :nth-child(3) {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
}

.wrapped-big-red-circle .color .text :nth-child(4) {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
}
.wrapped-big-red-circle .color .text :nth-child(4) span {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    padding-left: 5px;
}

.wrapped-big-red-circle .layout {
    width: 220%;             
    height: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    margin-top: 35px;
    justify-content: center;    
}

.wrapped-big-red-circle .layout .responsive {
    width: 50px;
    height: 50px;    
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    padding-left: 50px;
    margin-bottom: 70px;
}

.wrapped-big-red-circle .layout .responsive i {
    position: relative;
    top: 13px;
    left: -32px;
    right: 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-size:1.6rem;
}

.wrapped-big-red-circle .layout .text {
    padding-left: 10px;
}

.wrapped-big-red-circle .layout .text .test {
    width: 220px;      
}

.wrapped-big-red-circle .layout .text :first-child {
    text-transform: uppercase;
    font-size: 0.6rem;
    color: rgb(128, 128, 128);
}

.wrapped-big-red-circle .layout .text :nth-child(2) {
    font-size: 1.1rem;
    line-height: 0.2;
}

.wrapped-big-red-circle .layout .text :nth-child(3) {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
}

.wrapped-big-red-circle .layout .text :nth-child(4) {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
}

.wrapped-big-red-circle .layout .text :nth-child(4) span {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    padding-left: 5px;
}

.wrapped-big-red-circle .mega-menu {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    /* justify-content: right;      */
    margin-top: 35px;   
}

.wrapped-big-red-circle .mega-menu .big-menu {
    width:50px;
    height: 50px;      
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    padding-left: 50px;
    margin-bottom: 70px;
}

.wrapped-big-red-circle .mega-menu .big-menu i {
    position: relative;
    top: 13px;
    left: -35px;
    right: 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-size:1.6rem;
}

.wrapped-big-red-circle .mega-menu .text {
    padding-left: 10px;
}

.wrapped-big-red-circle .mega-menu .text .test {
    width: 220px;      
}

.wrapped-big-red-circle .mega-menu .text :first-child {
    text-transform: uppercase;
    font-size: 0.6rem;
    color: rgb(128, 128, 128);
}

.wrapped-big-red-circle .mega-menu .text :nth-child(2) {
    font-size: 1.1rem;
    line-height: 0.2;
}

.wrapped-big-red-circle .mega-menu .text :nth-child(3) {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
}

.wrapped-big-red-circle .mega-menu .text :nth-child(4) {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
}

.wrapped-big-red-circle .mega-menu .text :nth-child(4) span {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    padding-left: 5px;
}

/* feature-products girls-models */

.feature-products {
    width: 100%;
    height: 40px;   
    box-sizing: border-box;
    border-bottom: 1px solid rgb(201, 197, 197);
    display: flex;
    margin-top: 20px;
}

.feature-products .products {
    width: 100%;
}

.feature-products .products p {
    font-size: 1.3rem;
    margin-top: 10px;
}

.feature-products .buttons {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    float: right;
}

.feature-products .buttons ul {
  margin-top: 3px; 
}

.feature-products .buttons li {
    list-style-type: none;
    display: inline-flex;
    float: right;
    padding-left: 1px;
}

.feature-products .buttons  .button-left  {  /*button   na mqsttoto na button-left*/
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
  /*  border: none;  */
}

.feature-products  .buttons a:link {
    text-decoration: none;
    color: black;
}

.feature-products  .buttons a:visited {
    color: black;
}

.feature-products .buttons  .button-right {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*models*/

.models {
    width: 100%;
    height: 7%; /*280*/
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding-top: 16px; 
}

.models .wrapped-variants {
    width: 150px;    
    height: 160px;
    box-sizing: border-box;
}

.models .variants {
    width: 140px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
}

.models .wrapped-variants .variants p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.models .wrapped-variants .variants .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.7rem;
}

.models .wrapped-variants .variants .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.models .wrapped-variants .variants .rating {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.models .wrapped-variants .variants .rating :nth-child(5) {
    color:rgb(207, 206, 206);
    
}

.models .wrapped-variants .variants .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.models .wrapped-product {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.models .product {
    width: 140px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
}

.models .wrapped-product .product p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.models .wrapped-product .product .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.7rem;
}

.models .wrapped-product .product .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.models .wrapped-product .product .rating {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.models .wrapped-product .product .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.models .wrapped-example {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.models .example {
    width: 140px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
}

.models .wrapped-example .example p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.models .wrapped-example .example .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.7rem;
}

.models .wrapped-example .example .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.models .wrapped-example .example .rating {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.models .wrapped-example .example .rating :nth-child(5) {
    color:rgb(207, 206, 206);
}

.models .wrapped-example .example .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.models .wrapped-hot-top {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.models .hot-top {
    width: 140px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
}

.models .wrapped-hot-top .hot-top p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.models .wrapped-hot-top .hot-top .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.7rem;
}

.models .wrapped-hot-top .hot-top .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.models .wrapped-hot-top .hot-top .rating {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.models .wrapped-hot-top .hot-top .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.models .wrapped-sample-top {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.models .sample-top {
    width: 140px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
}

.models .wrapped-sample-top .sample-top p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.models .wrapped-sample-top .sample-top .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.7rem;
}

.models .wrapped-sample-top .sample-top .rating :nth-child(5) {
    color:rgb(207, 206, 206);
}

.models .wrapped-sample-top .sample-top .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.models .wrapped-sample-top .sample-top .rating {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.models .wrapped-sample-top .sample-top .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.models .wrapped-sample-product {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.models .sample-product {
    width: 140px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
}

.models .wrapped-sample-product .sample-product p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.models .wrapped-sample-product .sample-product .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.7rem;
}

.models .wrapped-sample-product .sample-product .rating :nth-child(5) {
    color:rgb(207, 206, 206);
}

.models .wrapped-sample-product .sample-product .rating :nth-child(4) {
    color:rgb(207, 206, 206);
}

.models .wrapped-sample-product .sample-product .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.models .wrapped-sample-product .sample-product .rating {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.models .wrapped-sample-product .sample-product .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.models a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.models a:visited {
    color: rgb(0, 0, 0);
}

.two-gray-circle {
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    margin-top:30px;                  
}

/* gray circle */

.two-gray-circle .gray-circle1 {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
}

.two-gray-circle .gray-circle2 {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(241, 239, 239);
    margin-left: 10px;
}

/*shoes-bags*/

.shoes-bags {
    width: 100%;
    height:40px;
    box-sizing: border-box;
    display: flex;
    margin-top:30px;
}

.shoes-bags .shoes {
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(201, 197, 197);
}

.shoes-bags .buttons {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    float: right;
}

.shoes-bags .buttons ul {
    margin-top: -48px;
}

.shoes-bags .buttons li {
    list-style-type: none;
    display: inline-flex;
    float: right;
    padding-left: 1px;
}

.shoes-bags .buttons .button-left {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoes-bags  .buttons a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.shoes-bags .buttons a:visited {
    color: rgb(0, 0, 0);
}

.shoes-bags .buttons .button-right /*.button-right */ {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.shoes-bags .bags {
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    margin-left: 10px;
    border-bottom: 1px solid rgb(201, 197, 197);
}

/*photo-products*/

.photo-products {
    width: 100%;
    height:7%;       
    box-sizing: border-box;
    display: flex;
    margin-top: 50px;
}

.photo-products .shoes-products {
    width: 50%;
    height: 100%;    
    box-sizing: border-box;
}

.photo-products .shoes-products ul {
    list-style-type:none;
    display: flex;
    justify-content: space-around;
}

.photo-products .shoes-products .shoes1 {
    width: 140px;
    height: 280px;
    box-sizing: border-box;
    margin:-18px 0px 0px -50px ;
   text-align: center;
}

.photo-products .shoes-products .shoes1 :nth-child(2) {
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
}

.photo-products a:link {
    text-decoration: none;
}

.photo-products .shoes-products .shoes1 :nth-child(3) {
    font-size: 0.8rem;
    color: rgb(135, 206, 235);
    line-height: 0.2;
}

.photo-products .shoes-products .shoes1 :nth-child(4) {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-products .shoes-products .shoes1 .cart {
    width: 75px;
    height: 35px;
    box-sizing: border-box;
    background-color: rgb(236, 234, 234);
    margin-left: 30px;
}

.photo-products .shoes-products .shoes1 .cart p {
    color: black;
}

.photo-products .bags-products {
    width: 50%;
    height: 100%;    
    box-sizing: border-box;
}

.photo-products .bags-products ul {
    list-style-type:none;
    display: flex;
    justify-content: space-around;
}

.photo-products .bags-products .bags1 {
    width: 140px;
    height: 280px;
    box-sizing: border-box;
    margin: -18px 0px 0px -50px;
   text-align: center;
}

.photo-products .bags-products .bags1 :nth-child(2) {
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
}

.photo-products a:link {
    text-decoration: none;
}

.photo-products .bags-products .bags1 :nth-child(3) {
    font-size: 0.8rem;
    color: rgb(135, 206, 235);
    line-height: 0.2;
}

.photo-products .bags-products .bags1 :nth-child(4) {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-products .bags-products .bags1 .cart {
    width: 75px;
    height: 35px;
    box-sizing: border-box;
    background-color: rgb(236, 234, 234);
    margin-left: 30px;
}

.photo-products .bags-products .bags1 .cart p {
    color: rgb(0, 0, 0);
}

/*women-tablet*/

.women-brfore-phone {
    width: 100%;
    height: 10%;    
    box-sizing: border-box;
    display: flex;
    margin-top: 30px;
}

.women-brfore-phone .women-tablet {
    width: 100%;
    height: 100%;    
    box-sizing: border-box;
}

.women-brfore-phone .women-tablet .woman-info {
    width: 500px;          
    height: 100%;    
    box-sizing: border-box;
    float: right;
    padding-right: 20px;   
}

.women-brfore-phone .women-tablet .woman-info p {
    padding-left: 45px;
    color: rgb(128, 128, 128);
}

.women-brfore-phone .women-tablet .woman-info .header {
    font-size: 0.8rem;
    line-height: 0.4;
    padding-top: 15px;
}

.women-brfore-phone .women-tablet .woman-info .lorem {
    font-size: 0.7rem;
}

.women-brfore-phone .women-tablet .number1 {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    float: left;
    margin-top: 24px;
}

.women-brfore-phone .women-tablet .tablet {
    width: 100%;   
    height: 350px; 
    box-sizing: border-box;
    background: url(../img/photos/girls-taplet.jpg) no-repeat;
    background-size: 100% 100%;
}

.women-brfore-phone .women-tablet .wrapped-tablet {
    display: flex;
}

.women-brfore-phone .sale-off {
    width: 80%;
    height: 9.5%;   
    box-sizing: border-box;
}

.women-brfore-phone .sale-off .off-60 {
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    background: url(../img/photos/model-60.jpg) no-repeat ;
    background-size: 100% 100%;   
    position: relative;
}

.women-brfore-phone .sale-off .off-60 p {
    position: absolute;
    font-size: 6rem;
    color: rgb(135, 206, 235);
    top: -60px;
    right: 10px;
    opacity: 0.7;
}

.women-brfore-phone .sale-off .sell-20 {
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
}

.women-brfore-phone .sale-off .sell-20 .sale {
    width: 50%;
    height: 175px;
    box-sizing: border-box;
    background: url(../img/photos/mini-model1.jpg) no-repeat ;
    background-size: 100% 100%;
    position: relative;
}

.women-brfore-phone .sale-off .sell-20 .sale p {
    position: absolute;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    top: 90px;
    left: 10px;
}

.women-brfore-phone .sale-off .sell-20 .sale2 {
    width: 50%;
    height: 175px;
    box-sizing: border-box;
    background: url(../img/photos/mini-model.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-left: 10px;
}

.women-brfore-phone .sale-off .sell-20 .sale2 p {
    position: absolute;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    top: 90px;
    right: 10px;
}

/*new in store*/

.new-in-store {
    width: 100%;
    height: 40px; 
    box-sizing: border-box;
    border-bottom: 1px solid rgb(201, 197, 197);
    display: flex;
    margin-top: 50px;
}

.new-in-store .products {
    width: 100%;
}

.new-in-store .products p {
    font-size: 1.3rem;
    margin-top: 10px;
}

.new-in-store .buttons {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    float: right;
}

.new-in-store .buttons ul {
    margin-top: 3px;
}

.new-in-store .buttons li {
    list-style-type: none;
    display: inline-flex;
    float: right;
    padding-left: 1px;
}

.new-in-store .buttons .button-left {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.new-in-store  .buttons a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.new-in-store  .buttons a:visited {
    color: rgb(0, 0, 0);
}

.new-in-store .buttons .button-right {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapped-i-phones {
    width: 100%;
    height: 7%;   
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding-top: 16px; 
}

.wrapped-i-phones .wrapped-phone {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.wrapped-i-phones .priceing {
    width: 150px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.wrapped-i-phones .wrapped-phone .priceing p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.wrapped-i-phones .wrapped-phone .priceing .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.6rem;
}

.wrapped-i-phones .wrapped-phone .priceing .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.wrapped-i-phones .wrapped-phone .priceing .rating {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}

.wrapped-i-phones .wrapped-phone .priceing .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.wrapped-i-phones .wrapped-phone .priceing .blue-circle {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-color:rgb(97, 192, 252);
    left: 20px;
    top: 10px;
}

.wrapped-i-phones .wrapped-phone .priceing .blue-circle p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.wrapped-i-phones .wrapped-phone .priceing .low-price {
    font-size: 0.7rem;    
}

.wrapped-i-phones .wrapped-phone .priceing .low-price span {
    color: rgb(255, 0, 0);
}

.wrapped-i-phones .wrapped-phone {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.wrapped-i-phones .modern {
    width: 150px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.wrapped-i-phones .wrapped-phone .modern p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.wrapped-i-phones .wrapped-phone .modern .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.6rem;
}

.wrapped-i-phones .wrapped-phone .modern .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.wrapped-i-phones .wrapped-phone .modern .rating {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}

.wrapped-i-phones .wrapped-phone .modern .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.wrapped-i-phones .wrapped-phone .modern .blue-circle {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-color:rgb(97, 192, 252);
    left: 20px;
    top: 10px;
}

.wrapped-i-phones .wrapped-phone .modern .blue-circle p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.wrapped-i-phones .wrapped-phone {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.wrapped-i-phones .deep {
    width: 150px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.wrapped-i-phones .wrapped-phone .deep p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.wrapped-i-phones .wrapped-phone .deep .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.6rem;
}

.wrapped-i-phones .wrapped-phone .deep .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.wrapped-i-phones .wrapped-phone .deep .rating {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}

.wrapped-i-phones .wrapped-phone .deep .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.wrapped-i-phones .wrapped-phone .deep .blue-circle {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-color:rgb(97, 192, 252);
    left: 20px;
    top: 10px;
}

.wrapped-i-phones .wrapped-phone .deep .blue-circle p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.wrapped-i-phones .wrapped-phone {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.wrapped-i-phones .new-phone {
    width: 150px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.wrapped-i-phones .wrapped-phone .new-phone p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.wrapped-i-phones .wrapped-phone .new-phone .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.6rem;
}

.wrapped-i-phones .wrapped-phone .new-phone .money {
    font-size: 0.6rem;
    color: rgb(135, 206, 235);
}

.wrapped-i-phones .wrapped-phone .new-phone .rating {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.wrapped-i-phones .wrapped-phone .new-phone .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.wrapped-i-phones .wrapped-phone .new-phone .blue-circle {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-color:rgb(97, 192, 252);
    left: 20px;
    top: 10px;
}

.wrapped-i-phones .wrapped-phone .new-phone .blue-circle p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.wrapped-i-phones .wrapped-phone {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.wrapped-i-phones .simple-phone {
    width: 150px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.wrapped-i-phones .wrapped-phone .simple-phone p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.wrapped-i-phones .wrapped-phone .simple-phone .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.6rem;
}

.wrapped-i-phones .wrapped-phone .simple-phone .money {
    font-size: 0.7rem;
    color: rgb(135, 206, 235);
}

.wrapped-i-phones .wrapped-phone .simple-phone .rating {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}

.wrapped-i-phones .wrapped-phone .simple-phone .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.wrapped-i-phones .wrapped-phone .simple-phone .blue-circle {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-color:rgb(97, 192, 252);
    left: 20px;
    top: 10px;
}

.wrapped-i-phones .wrapped-phone .simple-phone .blue-circle p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.wrapped-i-phones .wrapped-phone {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
}

.wrapped-i-phones .grouped {
    width: 150px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.wrapped-i-phones .wrapped-phone .grouped p {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
    line-height: 0.3;
} 

.wrapped-i-phones .wrapped-phone .grouped .review {
    text-transform: uppercase;
    color: rgb(207, 206, 206);
    font-size: 0.6rem;
}

.wrapped-i-phones .wrapped-phone .grouped .money {
    font-size: 0.7rem;
}

.wrapped-i-phones .wrapped-phone .grouped .money span {
    color: rgb(135, 206, 235);
}

.wrapped-i-phones .wrapped-phone .grouped .rating {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}

.wrapped-i-phones .wrapped-phone .grouped .rating p {
    margin-top: 5px;
    padding-left: 5px;
}

.wrapped-i-phones .wrapped-phone .grouped .blue-circle {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-color:rgb(97, 192, 252);
    left: 20px;
    top: 10px;
}

.wrapped-i-phones .wrapped-phone .grouped .blue-circle p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.wrapped-i-phones a:link {
    text-decoration: none;
    color: black;
}

.wrapped-i-phones a:visited {
    color: black;
}

.two-gray-circle-second{
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    margin-top: 130px;
}

.two-gray-circle-second .gray-circle1 {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
}

.two-gray-circle-second .gray-circle2 {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(241, 239, 239);
    margin-left: 10px;
}

/* banners*/

.banners {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(201, 197, 197);
    margin-top: 50px;
    padding-top:1px;
}

.banners .banner-info {
    width: 100%;
}

.banners .banner-info p {
    font-size: 1.3rem;
    margin-top: 10px;
}

/*inforation on baneers*/

.banners-info {
    width: 100%;
    height: 3.5%;     
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
}

.banners-info .banner1 {
    width: 25%;
    height: 145px; 
    box-sizing: border-box;
    background-color:  rgb(235, 235, 235);
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.banners-info .banner1 .banner-circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(206, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banners-info .banner1 .banner-circle p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.banners-info .banner1 :nth-child(2){
    text-transform: uppercase;
    white-space: pre-line;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 4px;
}

.banners-info .banner2 {
    width: 25%;
    height: 145px;
    box-sizing: border-box;
    margin-left: 20px;
    background-color: rgb(235, 235, 235);
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.banners-info .banner2 .banner-circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(206, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banners-info .banner2 .banner-circle p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.banners-info .banner2 :nth-child(2) {
    text-transform: uppercase;
    white-space: pre-line;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 4px;
}

.banners-info .banner3 {
    width: 50%;
    height: 145px;
    box-sizing: border-box;
    margin-left: 20px;
    background-color: rgb(235, 235, 235);
    display: flex;
    padding-top: 40px;
   justify-content: center;
}

.banners-info .banner3 .banner-circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(206, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banners-info .banner3 .banner-circle p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.banners-info .banner3 :nth-child(2) {
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 4px;
}

.banners-info .banner3 .border-dashed {
    width: 160px;
    height: 75px;
    box-sizing: border-box;
    border-top: 4px solid rgb(206, 205, 205);
    border-left: 4px solid rgb(206, 205, 205);
    border-right: 4px solid rgb(206, 205, 205);
    border-top-style: dashed;
    border-left-style: dashed;
    border-right-style: dashed;
    position: relative;
    top: -10px;
    right: -5px; 
}

.banners-info .banner3 .border-dashed::after {
    content: "";
    position: absolute;
    border-top: 4px solid rgb(206, 205, 205);
    width: 30px;
    border-top-style: dashed;
    top: 70px;
    left: -4px;
}

.banners-info .banner3 .border-dashed::before {
    content: "";
    position: absolute;
    border-top: 4px solid rgb(206, 205, 205);
    width: 70px;
    border-top-style: dashed;
    top: 70px;
    right: -4px;
}

.banners-info .banner3 .border-dashed i {
    color: rgb(206, 205, 205);
    font-size: 2rem;
    position: relative;
    top: 56px;
    left: 60px;
}

.banners-info .banner3 .border-dashed :nth-child(2) {
    font-size: 1.5rem;
    position: relative;
    top: -40px;
    left: -5px;
    color: rgb(69, 173, 214);
    text-transform: unset;
    font-weight: unset;
}

/*brands*/

.our-brand {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(201, 197, 197);
    display: flex; 
    margin-top: 60px;
    padding-top:1px;
}

.our-brand .brands {
    width: 100%;
}

.our-brand .brands p {
    font-size: 1.3rem;
    margin-top: 10px;
}

.our-brand .buttons {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    float: right;
}

.our-brand .buttons ul {
    margin-top: 3px;
}

.our-brand .buttons li {
    list-style-type: none;
    display: inline-flex;
    float: right;
    padding-left: 1px;
}

.our-brand .buttons .button-left {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.our-brand  .buttons a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.our-brand  .buttons a:visited {
    color: rgb(0, 0, 0);
}

.our-brand .buttons .button-right {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*logos*/

.wrapped-logos {
    width: 100%;
    height: 0.4%;   
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/*last gray circle*/

.last-gray-circle{
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}

.last-gray-circle .gray-circle1 {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
}

.last-gray-circle .gray-circle2 {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(241, 239, 239);
    margin-left: 10px;
}

/*little bottom menu*/

.little-bottom-menu {
    width: 100%;
    height: 0.5%;   
    box-sizing: border-box;
    display: flex;
    margin-top: 80px;
}

.little-bottom-menu .menu-left {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.little-bottom-menu .menu-left ul {
    display:inline-flex;
    list-style-type: none;
    margin-left: -45px;
}

.little-bottom-menu .menu-left li {
    padding-left:5px ;
    border-left: 1px solid rgb(240, 238, 238);
    padding-right: 5px;
    font-size: 0.8rem;
}

.little-bottom-menu .menu-left .site-map {
   border: unset; 
}

.little-bottom-menu a:link {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

.little-bottom-menu a:visited {
    color: rgb(128, 128, 128);
}

.little-bottom-menu .menu-right {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
}

.little-bottom-menu .menu-right ul {
    display: inline-flex;
    list-style-type: none;
    float: right;
}

.little-bottom-menu .menu-right li {
    font-size: 0.8rem;
    border-left:1px solid rgb(240, 238, 238) ;
    padding-left: 5px;
    padding-right: 5px;
}

.little-bottom-menu .menu-right .about-us {
    border-left: 1px solid transparent;
}
