/*footer*/

.wrapped-background {
    width:100%;
    height: 549px;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 0px;
    background: url(../img/romb.jpg);
    display: flex;
    justify-content: center;
}

.wrapped-background .wrapped-footer {
    width: 69.4%;
    height: 478px;
    box-sizing: border-box;
    margin: 25px 0px 0px 0px;
}

.wrapped-footer .company-info {
    width: 100%;
    height:60%;      
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.wrapped-footer .company-info .wrapped-info {
    width: 100%;
    height: unset;    /*80%*/           /*test*/
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.wrapped-footer .company-info .wrapped-info .ultima-theme-footer {
    width: 200px; /*24%*/
    height: unset;
    box-sizing: border-box;
    padding-left: 20px;
}

.wrapped-footer .company-info .wrapped-info .ultima-theme-footer :first-child {
    font-size: 0.9rem;
}

.wrapped-footer .company-info .wrapped-info .ultima-theme-footer :nth-child(2) {
    font-family: cursive;
    font-size: 1.5rem;
    font-weight:bolder;
    line-height: 0.6;
}

.wrapped-footer .company-info .wrapped-info .ultima-theme-footer :nth-child(3) {
    font-size: 0.8rem;
    color:rgb(128, 128, 128); 
}

.wrapped-footer .company-info .wrapped-info .ultima-theme-footer :last-child {
    font-size: 0.8rem;
}

.wrapped-footer .company-info .wrapped-info .ultima-theme-footer span {
    color: rgb(128, 128, 128);
}

.wrapped-footer a:link  {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wrapped-footer a:visited {
    color: rgb(0, 0, 0);
}

.wrapped-footer .company-info .wrapped-info .theme-features {
    width: 200px;   /*20%*/
    height: unset;
    box-sizing: border-box;
}

.wrapped-footer .company-info .wrapped-info .theme-features p {
    font-size: 0.9rem;
    padding-left: 10px;
}

.wrapped-footer .company-info .wrapped-info .theme-features li {
    list-style-type: none;
}

.wrapped-footer .company-info .wrapped-info .theme-features span {
    margin-right: 4px;
}

.wrapped-footer .company-info .wrapped-info .theme-features a:link p {
    font-size: 0.8rem;
    line-height: 0.3;
    margin-left: -35px;
}

.wrapped-footer .company-info .wrapped-info .theme-features a:link {
    color:rgb(128, 128, 128) ;
}

.wrapped-footer .company-info .wrapped-info .theme-features a:visited{
    color:rgb(128, 128, 128);
}

.wrapped-footer .company-info .wrapped-info .key-features {
    width: 200px;  /*25%*/
    height: unset;
    box-sizing:border-box;
} 

.wrapped-footer .company-info .wrapped-info .key-features .red-numbers {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(248, 82, 82);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 10px;
}

.wrapped-footer .company-info .wrapped-info .key-features .red-numbers p span {
    color:rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1rem;
}

.wrapped-footer .company-info .wrapped-info .key-features {
    font-size: 0.9rem;
}

.wrapped-footer .company-info .wrapped-info .key-features :nth-child(3) {
    color:  rgb(128, 128, 128);
    font-size: 0.8rem;
}

.wrapped-footer .company-info .wrapped-info .key-features :nth-child(5) {
    color:  rgb(128, 128, 128);
    font-size: 0.8rem;
}

.wrapped-footer .company-info .wrapped-info .key-features :nth-child(7) {
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
}

.wrapped-footer .company-info .wrapped-info .key-features :nth-child(9) {
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
}

.wrapped-footer .company-info .wrapped-info .company-info {
    width: 200px;    /*25%*/
    height: unset;
    box-sizing: border-box;
}

.wrapped-footer .company-info .wrapped-info .company-info p{
    font-size: 0.9rem;
}

.wrapped-footer .company-info .wrapped-info .company-info .red-icons {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(248, 82, 82);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 10px;
}

.wrapped-footer .company-info .wrapped-info .company-info :nth-child(3) {
    color: rgb(128, 128, 128);
    white-space: pre-line;
    font-size: 0.8rem;
}

.wrapped-footer .company-info .wrapped-info .company-info :nth-child(5) {
    color: rgb(128, 128, 128);
    white-space: pre-line;
    font-size: 0.8rem;
}

.wrapped-footer .company-info .wrapped-info .company-info :nth-child(7) {
    color: rgb(128, 128, 128);
    white-space: pre-line;
    font-size: 0.8rem;
}

.wrapped-footer .company-info .wrapped-info .company-info :nth-child(9) {
    color: rgb(128, 128, 128);
    white-space: pre-line;
    font-size: 0.8rem;
}

.wrapped-footer .company-info .border-and-logos {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
}

.wrapped-footer .company-info .border-and-logos .border-footer {
    width: 95%;
    border-top: 2px solid  rgb(184, 182, 182);
    margin: 0% 0% 0% 2.5%;
}

.wrapped-footer .company-info .border-and-logos .logos {
    padding-left: 20px;
    display: flex;
}

.wrapped-footer .company-info .border-and-logos .logos p {
    font-size: 1.8rem;
    padding-left: 3px;
    margin:15px 0px 0px 0px;
    padding-left: 3px;
   color: rgb(128, 128, 128);
}

.wrapped-footer .company-info .border-and-logos form {
    float: right;
    margin:-35px 20px 0px 0px;
}

.wrapped-footer .company-info .border-and-logos input[type=text] {
    font-size: 0.7rem;
    width: 150px;
    height: 30px;
    color: rgb(190, 190, 190);
    border: 2px solid rgb(240, 240, 240);
}

.wrapped-footer .company-info .border-and-logos input[type=button] {
    color:rgb(128, 128, 128);
    width: 80px;
    height: 35px;
    border: none;
    font-size: 0.7rem;
}

.wrapped-footer .wrapped-footer-contacts {
    width: 100%;
    height: 170px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.wrapped-footer .wrapped-footer-contacts .questions {
    width: 150px;
    height: 140px;
    box-sizing: border-box;
}

.wrapped-footer .wrapped-footer-contacts .questions a:link {
    color: rgb(128, 128, 128);
}

.wrapped-footer .wrapped-footer-contacts .questions a:visited {
    color:hsl(0, 0%, 50%);
}

.wrapped-footer .wrapped-footer-contacts .questions li {
    list-style-type: none;
    font-size: 0.7rem;
    line-height: 0.5;
}

.wrapped-footer .wrapped-footer-contacts .questions span {
    margin-right: 10px;
}

.wrapped-footer .wrapped-footer-contacts .questions .header {
    font-size: 0.9rem;
   padding-left: 37px;
}

.wrapped-footer .wrapped-footer-contacts .shipping {
    width: 150px;
    height: 140px;
    box-sizing: border-box;
}

.wrapped-footer .wrapped-footer-contacts .shipping a:link {
    color: rgb(128, 128, 128);
}

.wrapped-footer .wrapped-footer-contacts .shipping a:visited {
    color:hsl(0, 0%, 50%);
}

.wrapped-footer .wrapped-footer-contacts .shipping li {
    list-style-type: none;
    font-size: 0.7rem;
    line-height: 0.5;
}

.wrapped-footer .wrapped-footer-contacts .shipping span {
    margin-right: 10px;
}

.wrapped-footer .wrapped-footer-contacts .shipping .header {
    font-size: 0.9rem;
   padding-left: 40px;
}

.wrapped-footer .wrapped-footer-contacts .about-us {
    width: 150px;
    height: 140px;
    box-sizing: border-box;
}

.wrapped-footer .wrapped-footer-contacts .about-us a:link {
    color: rgb(128, 128, 128);
}

.wrapped-footer .wrapped-footer-contacts .about-us a:visited {
    color:hsl(0, 0%, 50%);
}

.wrapped-footer .wrapped-footer-contacts .about-us li {
    list-style-type: none;
    font-size: 0.7rem;
    line-height: 0.5;
}

.wrapped-footer .wrapped-footer-contacts .about-us span {
    margin-right: 10px;
}

.wrapped-footer .wrapped-footer-contacts .about-us .header {
    font-size: 0.9rem;
    padding-left: 40px;
}

.wrapped-footer .wrapped-footer-contacts .news {
    width: 150px;
    height: 140px;
    box-sizing: border-box;
}

.wrapped-footer .wrapped-footer-contacts .news a:link {
    color: rgb(128, 128, 128);
}

.wrapped-footer .wrapped-footer-contacts .news a:visited {
    color:hsl(0, 0%, 50%);
}

.wrapped-footer .wrapped-footer-contacts .news li {
    list-style-type: none;
    font-size: 0.7rem;
    line-height: 0.5;
}

.wrapped-footer .wrapped-footer-contacts .news span {
    margin-right: 10px;
}

.wrapped-footer .wrapped-footer-contacts .news .header {
    font-size: 0.9rem;
    padding-left: 40px;
}

.wrapped-footer .wrapped-footer-contacts .additional-info {
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.wrapped-footer .wrapped-footer-contacts .additional-info .header {
    font-size: 0.9rem;
   color: black;
}

.wrapped-footer .wrapped-footer-contacts .additional-info span {
    text-transform: uppercase;
}

.wrapped-footer .wrapped-footer-contacts .additional-info .blue-circle {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: skyblue;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.wrapped-footer .wrapped-footer-contacts .additional-info p {
    font-size: 0.7rem;
    color: rgb(128, 128, 128);
    white-space: pre-line;
}

.wrapped-footer .wrapped-pay-cart {
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    left: 0px;
   background:url(../images/dark-romb3.jpg);
   background-size: contain;
   display: flex;
   justify-content: center;
}

.wrapped-footer .wrapped-pay-cart .canva-footer {
    width: 69.4%;
    height: 65px;
    box-sizing: border-box;
    display: flex;
}

.wrapped-footer .wrapped-pay-cart .canva-footer .criping {
    width: 100%;
    font-size: 0.7rem;
    white-space: pre-line;
    color: rgb(128, 128, 128);
    margin-top: -6px;
}

.wrapped-footer .wrapped-pay-cart .canva-footer .cart-logos {
    width: 250px;
    margin-top: 20px;
}
