body {
    display:flex;
    justify-content: center;
}

.wrapped-canva {
    width: 70%;             
    box-sizing: border-box; 
}

.wrapped-information {
    width: 100%;
    height: 32%;
    box-sizing: border-box;
    display: flex;
}

.wrapped-information .phone-information {
    width: 150px;      
    box-sizing: border-box;
}

.wrapped-information .phone-information .telephone i {
    font-size: 0.9rem;  
    color: rgb(0, 0, 0);
}

.wrapped-information .phone-information .telephone p {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
    padding-top: 3px;
}

.wrapped-information .phone-information .telephone {
    width: 200px;      
    height:32%;
    display: flex; 
    box-sizing: border-box;
}
 
.wrapped-information .phone-information .telephone .number {
    margin-left: 10px;
}

.wrapped-information .little-menu {
    width: 100%;      
    height: 32%;
    box-sizing: border-box;   
}

.wrapped-information .little-menu ul {
    list-style-type: none;
    display: flex;
    padding-left: 10px;
    position: relative;
    left: -10px;  
}

.wrapped-information .little-menu li {
    padding-left: 8px;
    font-size: 0.8rem;
}

.wrapped-information .little-menu .line {
    border-left: 1px solid rgb(240, 238, 238);
    margin-left: 6px;
    padding-left: 6px;
}

.wrapped-information .little-menu li a:link {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.wrapped-information .little-menu li a:visited {
    color: rgb(128, 128, 128);
}

.wrapped-information .language {
    width: 300px;    
    height: 32%;    
    box-sizing: border-box;
    display: flex;
    padding-left: 50px;
}

.wrapped-information .language .flag-language .triangle {
    height: 0px;
    width: 0px;
    border-top:5px solid rgb(128, 128, 128);
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 6px 0px 0px 4px; 
    padding: 0px;
}

.wrapped-information .language .flag-language ul {
    display: flex;
    list-style-type: none;
}

.wrapped-information .language .flag-language li {
    padding-left: 6px;
    font-size: 0.8rem;
    padding-bottom: 4px;
}

.wrapped-information .language .flag-language .flag {
    padding-top: 2px;
}

.wrapped-information .language .flag-language li a:link {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.wrapped-information .language .flag-language li :visited {
    color: rgb(128, 128, 128);
}

.wrapped-information .language .currency ul {
    display: flex;
    list-style-type: none;
    font-size: 0.8rem;
    padding-left: 20px;
    padding-top: 2px;
}

.wrapped-information .language .currency li {
    padding-left: 6px;
    color: rgb(128, 128, 128);
}

.wrapped-information .language .currency .triangle {
    height: 0px;
    width: 0px;
    border-top:5px solid rgb(128, 128, 128);
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 6px 0px 0px 4px;
    padding: 0px;
}

.wrapped-information .language .currency li a:link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.wrapped-information .language .currency li a:visited {
    color: rgb(128, 128, 128);
}

.wrapped-ultima-theme {
    width: 100%;
    height:90px; 
    box-sizing: border-box;
    display: flex; 
}

.wrapped-ultima-theme .ultima-theme {
    width: 100%;
    height:100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.wrapped-ultima-theme .ultima-theme p {
    font-family: cursive;
    font-size: 2.8rem;
}

.wrapped-ultima-theme .search {
    width: 350px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.wrapped-ultima-theme .search input[type="text"] {
    font-size: 0.7rem;
    width: 280px;
    height: 30px;
    color: rgb(190, 190, 190);
    border: 2px solid rgb(240, 240, 240);
    position: relative;
}

.wrapped-ultima-theme .search i {
    color: rgb(190, 190, 190);
    font-size: medium;
    position: relative;
    left: 260px;
    top: -25px;
    right: 0;
    bottom:0px;
}

/* account */

.wrapped-ultima-theme .wrapped-account  {    
    width: 100%;     
    height: 100%;
    box-sizing: border-box;
    display: block;   
    padding-top: 25px;  
    text-align: right;
    position: relative;  
}

.wrapped-ultima-theme .wrapped-account .cart  ul {
    display: inline-flex;
    list-style-type: none;
    position: relative;
    top:-15px;
    left: 0;
    right: 0;
    bottom:0px;
}

.wrapped-ultima-theme .wrapped-account .cart .triangle {
    height: 0px;
    width: 0px;
    border-top:5px solid rgb(128, 128, 128);
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 10px 0px 0px 4px; 
}

.wrapped-ultima-theme .wrapped-account .cart p {
    font-size: 0.8rem;
    padding-left: 8px;
    margin-top: 4px; 
    color: rgb(128, 128, 128);
}

.wrapped-ultima-theme .wrapped-account .cart i {
    color: rgb(0, 0, 0);
    margin-top: 2px;
}

.wrapped-ultima-theme .wrapped-account .account ul {
    display: inline-flex;
    font-size: 0.8rem;
    list-style-type: none;
    position: relative;
    top: -40px; 
    margin-left: -100px;
}

.wrapped-ultima-theme .wrapped-account .account .compare {
    padding-right: 2px;
}

.wrapped-ultima-theme .wrapped-account .account .line {
    padding-right: 4px;
    padding-left: 4px;
    border-left: 1px solid  rgb(240, 238, 238);
} 

.wrapped-ultima-theme .wrapped-account .account .line-account {
    padding-right: 8px;
}

.wrapped-ultima-theme .wrapped-account .account a:link {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.wrapped-ultima-theme .wrapped-account .account a:visited {
    color: rgb(128, 128, 128);
}

.wrapped-ultima-theme .wrapped-account .account .triangle {
    height: 0px;
    width: 0px;
    border-top:5px solid gray;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 6px;
}

/*main-menu*/

.main-menu input {         /* buger-menu test*/
    visibility: hidden;
    position: absolute;
}

#menu {
    position: absolute;
    visibility: hidden;
}

.main-menu {
    width: 100%;
    height: 1.5%; 
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    border-bottom: 4px solid black;
    background-color: rgb(245, 245, 245);
    display: flex;
}

.main-menu .big-menu {
    width: 100%;                
    height: 1.4%; 
    box-sizing: border-box;
}

.main-menu .big-menu ul {
   padding-left: 0px;
   display: flex;
   position: relative;
   top: -18px;
   left: -20px;
}

.main-menu .big-menu li {
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    padding-left: 20px;
}

.main-menu .big-menu .triangle {
    height: 0px;
    width: 0px;
    border-top:5px solid rgb(128, 128, 128);
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 24px 0px 0px 2px;
    padding: 0px;
}

.main-menu .big-menu a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main-menu .big-menu a:visited {
    color: rgb(0, 0, 0);
}

.main-menu .big-menu .menu {
    width:100%;
    height: 90%;   
    box-sizing: border-box;
    border: 1px solid transparent;  
}

.main-menu .big-menu  a:hover .menu {
    background-color: black;
    color:white;
}

.main-menu .big-menu-custom {
    width: 500px;
    height: 100%;
    box-sizing: border-box;
}

.main-menu .big-menu-custom ul {
    display: inline-flex;
    list-style-type: none;
    text-transform: uppercase;
    float: right;
    position: relative;
    top: -18px;
}

.main-menu .big-menu-custom li {
    padding-left: 20px;
}

.main-menu .big-menu-custom .menu {
    width:100%;
    height: 90%;
    box-sizing: border-box;
    border: 1px solid transparent;  
}

.main-menu .big-menu-custom .triangle {
    height: 0px;
    width: 0px;
    border-top:5px solid rgb(128, 128, 128);
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 23px 0px 0px 2px;
    padding: 0px;
}

.main-menu .big-menu-custom a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main-menu .big-menu-custom a:visited {
    color: rgb(0, 0, 0);
}

.main-menu .big-menu-custom  a:hover .menu {
    background-color: black;
    color:rgb(255, 255, 255);
}

.new {
    width: 40px;
    height: 20px;
    background-color: rgb(135, 206, 235);
    position: absolute;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    left: 202px;
    right: 0px;
    bottom:0px;
    top: -13px;
    font-size: 0.8rem;
}

.new::before {
    content: "";
    position: absolute;
    border-top: 5px solid rgb(135, 206, 235);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    left: 22px;
    top: 100%;
}
