.contacts {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /* padding: 70px 0px 30px 100px; */
    padding: 10px 0px 30px 100px;
    background-color:rgb(112, 128, 144);
}
.contacts h3 {
    margin: 0px;
}