html body {
    margin: 0px;
}
.burger-btn, .burger-menu {
    display: none;
}
.wraper-menu {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color:rgb(112, 128, 144);
}
.wraper-menu .logo img {
    width: 60px;
    height: 40px;
    margin:12px 0px 0px 80px;
}
.wraper-menu .menu {
    width: 50%;  
    height: auto;
    box-sizing: border-box;
    display: inline-block;
}
.wraper-menu .menu li {
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 30px; 
    color: red(255, 255, 255);
}
.wraper-menu .menu li :link {
    text-decoration: none;
    color: white;
}
.wraper-menu .menu li:hover {
    background-color: hsl(180, 100%, 25%);
}
.wraper-menu .menu li :visited {
    color: white;
}
/* advertising */
.advertising {
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 0px;
    margin: 0 auto;
    background-color:rgb(95, 158, 160);
    display: none;
}
.advertising .close-btn {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    margin: 0px 0px 0px auto;
    cursor: pointer;
}
.advertising .close-btn .border {
    width: 100%;
    height: 0px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    transform: rotate(45deg);
    transform-origin: 0px 6px;
}
.advertising .close-btn .border-one {
    width: 100%;
    height: 0px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    transform-origin: 25px 9px;
    transform: rotate(-45deg);
}
.advertising .info {
   text-align: center;
}
.open {
    display: block;
}



