.my-information {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(135, 206, 235);
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-top: 40px;
}
.my-information .arrow img {
    width: 20px;
    margin-top: 180px;
    cursor: pointer;
} 
 #info {
    width: 300px;
    height: auto;
    box-sizing: border-box;
    color: rgb(131, 106, 106);
}
.my-information .photo img {
    width: 380px;
    height: 380px;
    box-sizing: border-box;
    border-radius: 50%;
}
.wraper-work {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: rgb(135, 206, 235);
}
.wraper-work .work {
    width: 400px;
    height: 40px;
    position: relative;
    background-color:rgb(0, 128, 128);
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    box-sizing: border-box;
    padding-top: 10px;
    color: white;
    margin-top: 60px;
  }
  .wraper-work .work:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(135, 206, 235);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .wraper-work .work:before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid rgb(135, 206, 235);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  }
  .last-work {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      background-color: rgb(135, 206, 235);
  }
  .last-work .work-box {
      width: 250px;
      height: 350px;
      box-sizing: border-box;
      list-style-type: none;
    }
    .last-work ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0px;
        padding-top: 40px;
        padding-bottom: 70px;
    }
    .last-work li {
        margin-top: 20px;
        border: 1px solid black;
    }
  .last-work .work-box img {
      width: 248px;
      height: 348px;
  }

